---
import ExperienceItem from "./ExperienceItem.astro"
import { t } from "i18next";

const EXPERIENCIE = [
  {
    date: "2022 - 2024",
    title: t('position'),
    company: "Flydevs",
    description: t("flydevs_description"),
    link: "https://www.linkedin.com/in/briandarakdjian/",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
